{% extends "SiteContent/basetemplate.html" %}
{% load staticfiles %}
{% block content %}
      <div class="container marketing">
        <div class="starter-template">
            <div class ="row featurette">
              <div class="col-md-6" style="margin-top: 100px; margin-bottom: 100px; padding-right: 60px;text-align:right; float:right;">
                  <h1 style="margin-bottom: 30px; font-size:42px;">Agile Business Development through Rapid Prototyping</h1>
              </div>
            </div>
        </div>
      </div>  
{% endblock %}