{% extends "SiteContent/basetemplate.html" %}
{% load staticfiles %}
{% block content %}
      <div class="container marketing">
        <div class="starter-template">
            <div class ="row featurette">
              <div class="col-md-12" style="margin-bottom: 50px;">
                  <h1 style="margin-bottom: 30px;">Agile Business Development through Rapid Prototyping</h1>
                  <p class="lead">
                    How to align ideation with agile projects to make agile businesses? While Information Technology provides much of the infrastructure in our organizations today, only alignment with business and other organizational processes enables sustainable organizational agility.
                  </p>
              </div>
            </div>
            <div class ="row featurette">
                <div class ="col-md-7" style="margin-bottom: 50px;">
                    <img class="featurette-image" src="{% static "img/BM-Header.png" %}" alt="My image"/>
                </div>
                <div class="col-md-5">
                    <p class="lead">
                    </p>
                </div>
            </div>
            <div class ="row featurette">
                <div class="col-md-12">
                    <p class="lead">
                        Rapid Prototyping is a tool for ideation in multi-disciplinary teams: a loop to quickly hypothesize, develop, test and quantify ideas across experts from business development, IT, design, and your (potential) end-users.
                        In this workshop you will learn (1) to create showcases by quickly -and therefore cheaply- finding out what works and does not work by testing and pivoting ideas, and (2) to deal with team-based innovation methods, based on multidisciplinary teams across organisational boundaries.
                    </p>
                </div>
            </div>
        </div>
      </div>  
{% endblock %}