{% extends "SiteContent/basetemplate.html" %}

{% block content %}
<a name="workshops"></a>
      <div class="container marketing">
          <div class="starter-template">
              <div class ="row featurette">
                  <div class="col-md-12" style="margin-bottom: 50px;">
                      <h1>Workshops</h1>
                  </div>
              </div>
              <div class ="row featurette">
                  <div class ="col-md-7" style="margin-bottom: 50px;">
                      <h2 class="featurette-heading">
                          Stefan Marges
                          <span class="text-muted">"Ni Hao"</span>
                      </h2>
                      <p class="lead">
                          "wtfisdeze"
                      </p>
                  </div>
                  <div class="col-md-5">
                      <img class="featurette-image" data-src="holder.js/500x500/auto" alt="500x500">
                  </div>
              </div>
          </div>
      </div>
{% endblock %}