body {
  padding-top: 0px;
  position: relative;
  background-color: #f1322f;
  color: #ffffff;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    width: 100%;
}

.navbar-custom {
    background-color:#f1322f;
    color: #ffffff;
    text-align: right;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
}
